.page{
  background-color: #ffffff;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
  
  max-width: 92%;
  min-width: 80%;
  width: 100%;
  margin: 20px auto;
  box-sizing: border-box;
}

body{
  background-color: #eef2f3;

  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  color:#5f6368;

  /* color: #1932c8; */
}

h1,h3{
  font-family: 'Playfair Display', serif;
  font-weight: 700;
  color: #2e2e2e;
}

h1{
  font-size: 50px;
}

.vega-embed {
  padding-top: 2%;
}


.vis-container {
  max-width: fit-content;
  max-height: fit-content;
}

.pure-g {
  border-bottom: 1px solid #d1d1d1; /* Light divider between sections */
  padding-bottom: 3%;
}
.pure-u-1-1{
  text-align: center;
}

.bar{
  text-align: right;
}

p{
  text-align: center;
  margin: 50px 200px;
}

h3{
  text-align:center;
  align-items: start;
  padding-left: 14%;
  font-size: 40px;
}

.centered p{
  display: block;
  justify-content: center;
  height: 100%;            /* Ensure full height of the element */
  text-align: justify;
  margin: 100px 100px;
  padding-left: 14%;
}

.centered h3{
  padding-top: 150px;
  vertical-align: text-top;
}

.small-font {
  font-size: 14px;
  color: #777;  /* Subtle color for footer text */
}

.textContainer {
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  vertical-align:top;
}

#centered-title{
  padding-left:0%;
  padding-top:2%;
}

.side{
  margin: 0 auto;
  height:5%;
}

.highlight{
  color: red;
  font-weight: bold;
}

.intext-mention{
  color: #5f84b7;
  font-weight: bolder;
}

.perlis-mention{
  font-weight: bold;
  color: #6bafd6;
}

.kedah-mention{
  font-weight:bold;
  color:#3282bd;
}

.vis1{
  width:50%;
  height:50%;
}

.center{
  text-align: justify;
}

.title{
  text-align: center;
}

#vis3{
  padding-top:12%;
}

#vis1{
  max-width: fit-content;
  max-height: fit-content;
}




